// Заголовки, загальні БЕМ блоки та інше...
.button {
  display: inline-block;
  border-radius: 6px;
  @include adaptiveValue('padding-top', 25, 12);
  @include adaptiveValue('padding-bottom', 25, 12);
  @include adaptiveValue('padding-left', 50, 24);
  @include adaptiveValue('padding-right', 50, 24);
  background: var(--orange-500);
  font-family: var(--font-family);
  border: 2px solid var(--orange-500);
  font-weight: 500;
  @include adaptiveValue('font-size', 18, 14);
  line-height: 152%;
  text-align: center;
  color: var(--slate-100);
  transition:
    background 0.3s ease,
    color 0.3s ease;
  &:hover {
    background: var(--slate-100);
    color: var(--orange-500);
  }
}
